# **f-string Example**

Expected Output:

**I am taking ISOM3400!**

In [1]:
course_codes = 'ISOM3230, ISOM3260, ISOM3400'

I am taking ISOM3400!

In [ ]:
course_codes = 'ISOM3230, ISOM3260, ISOM3400'
avg_score = 0.72864406779661
avg_student = 57.6666666667

The mean of the ISOM3400 final exam is 72.86%. The average number of students per section is 57.67.

# **f-string Practice**

**Q1a. Expected Output:**

**46.67% of the students are female, while 53.33% are male. ISOM3400 is all about gender equality haha :D...**

In [ ]:
course_codes = 'ISOM3230, ISOM3260, ISOM3400'
female = 0.4666666666666667
male = 0.5333333333333333

46.67% of the students are female, while 53.33% are male. ISOM3400 is all about gender equality haha :D...

**Q1b. Expected Output:**

**The average score of the assignment is 8.232/10. I think I can succeed in ISOM3400 :')**

In [ ]:
course_codes = 'ISOM3230, ISOM3260, ISOM3400'
assignment_average = 8.2324434

The average score of the the assignment is 8.232/10. I think I can succeed in ISOM3400 :')

# **Method Examples**

In [ ]:
'ISOM3400'.count('0')

2

In [ ]:
x = 'ISOM3400'
x.count('0')

2

In [ ]:
#.count() is a string/list method
['I', 'S', 'O', 'M', '3', '4', '0', '0'].count('0')

2

In [ ]:
'ISOM3400'.lower()

'isom3400'

In [ ]:
#.lower() is a string method, but not a list method
['I', 'S', 'O', 'M', '3', '4', '0', '0'].lower()

AttributeError: ignored

# **Tuples and Strings are Immutable**

In [6]:
list_ex = ['I','S','O','M','3','4','0','0']
list_ex[4:] = ['3', '2', '3', '0']
list_ex

['I', 'S', 'O', 'M', '3', '2', '3', '0']

In [ ]:
#Error
string_ex= "ISOM3400"
string_ex[4:] = "3230"

In [ ]:
#Reassignment
string_ex = "ISOM3400"
string_ex = "ISOM3230"
print(string_ex)

In [ ]:
#Error
tuple_ex = (1,2,3)
tuple_ex[0] = 0

In [ ]:
#Reassignment
tuple_ex = (1,2,3)
tuple_ex = (0,2,3)
print(tuple_ex)

# **for-loop Example**

**Example 1**

In [ ]:
course_info = (('James Kwok', 'ISOM3230'), ('Jia Jia', 'ISOM2020'))

The instrctor for ISOM3230 is James Kwok.
The instrctor for ISOM2020 is Jia Jia.

**Example 2**

In [ ]:
info = [('Peter', 'M', 30), ('Paul', 'M', 40), ('Mary', 'F', 36)]

Peter
Paul
Mary

**Example 3: Print out the following text using *my_fav_books***

    My favourite books are
    1.Crime and Punishment
    2.Jane Eyre
    3.The Picture of Dorian Gray

In [ ]:
my_fav_books = ['Crime and Punishment', 'Jane Eyre', 'The Picture of Dorian Gray']

My favourite books are
1.Crime and Punishment
2.Jane Eyre
3.The Picture of Dorian Gray

# **Exercise**

Expected Output:

**For grade A, my reaction is ^_^**

**For grade B, my reaction is :b**

**For grade C, my reaction is :c**

**For grade D, my reaction is D:**

**For grade F, my reaction is :O) See you again next year!**

In [ ]:
grade_reactions = (('C', ':c'), ('B', ':b'), ('D', 'D:'), ('F', ':O)'), ('A', '^_^'))

In [ ]:
#sort

[('A', '^_^'), ('B', ':b'), ('C', ':c'), ('D', 'D:'), ('F', ':O)')]

For grade A, my reaction is ^_^
For grade B, my reaction is :b
For grade C, my reaction is :c
For grade D, my reaction is D:
For grade F, my reaction is :O) See you again next year!