## Practice Questions on Data Structures

For each question below, please write the corresponding code, and then run the code to show the output.

1) Between `(1)` and `1,` which is a valid tuple display to create a tuple with a single element 1?

In [ ]:
(1)   # return 1; parentheses used here in an arithmetic sense

In [ ]:
1,    # return a tuple of element 1

2) Run the following code snippet and briefly explain why the value of `course_tuple` changes?

```python
a = ['python']
course_tuple = (a, ['business', 'analytics'])
a[:] = ['programming']
course_tuple
```

3) Create a tuple `tp` with two lists inside: `[1, 2, 3], [4, 5, 6]`. Write code to extract element 5 out of the tuple.

4) Try to replace 5 with 6. Print the updated tuple `tp`.

5) Create a list `ls` with two tuples inside: `(1, 2, 3), (4, 5, 6)`. Write code to extract element 5 out of the list. Then try to replace 5 with 6. What results do you get? Briefly explain the result.

6) Given a sentence: `"Python is a high-level language for general-purpose programming"`, create a tuple `tp2` and a list `ls2` with each character in the sentence as an element.

Print `tp2` and `ls2`. The output should look like:

```python
('P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'h', 'i', 'g', 'h', '-', 'l', 'e', 'v', 'e', 'l', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'n', 'e', 'r', 'a', 'l', '-', 'p', 'u', 'r', 'p', 'o', 's', 'e', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
```
```python
['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'h', 'i', 'g', 'h', '-', 'l', 'e', 'v', 'e', 'l', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', ' ', 'f', 'o', 'r', ' ', 'g', 'e', 'n', 'e', 'r', 'a', 'l', '-', 'p', 'u', 'r', 'p', 'o', 's', 'e', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
```

7) Print the length of `tp2` and `ls2`, which shall be 63 for each.

8) Write code to find the number of hyphens in `tp2`. The answer should be 2.

9) Write code to find the number of spaces (i.e., `' '`) in `ls2`. The answer should be 7.

10) Can you find the index for the 2nd `'a'` in `tp2`? The answer is 24.

11) Use a list comprehension to find out how many elements in `ls2` are greater than `"A"`? The answer should be 54.

12) Use a list comprehension to create a new list called `slist` that contains the square of all even numbers in `[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

13) Use a list comprehenstion to show only elements in `slist` that contains number 4. The result should be `[4, 64]`

14) Find out how many elements in `slist` are divisable by 8. The result should be `3`

15) Create a string `st_sports` that looks like this:

```python
'soccer tennis badminton swimming'
```
Then create a list `ls_sports` from `st_sports` with each sport as an element in the list.

Print `ls_sports`. The result should look like:

```python
['soccer', 'tennis', 'badminton', 'swimming']
```

16) Based on `ls_sports`, create a new nested list `sports` that looks like the following:

```python
[[1, 2, 3, 4], ['soccer', 'tennis', 'badminton', 'swimming']]
```

17) Create a new nested list called `sports_rev` by switching the order the two sublists in `sports`, and then sorting each sublist in descending order.

Print `sports_rev` and the result should be:

```python
[['tennis', 'swimming', 'soccer', 'badminton'], [4, 3, 2, 1]]
```

18) Use the `remove()` method to remove `4` and `'swimming'` from `sports`, then print the updated `sports` list, which should look like:

```python
[[1, 2, 3], ['soccer', 'tennis', 'badminton']]
```

19) Can you add number 4 and 'swimming' back to sports by using the `append()` method? Print `sports` to confirm.

20) Create `lista` that contains `['1', '3', '5']`. Print the sum of the numeric values of the elements, which should be 9.

21) Create `listb` that contains `['2', '4', '6']`. Concatenate `lista` and `listb`, which should look like

`['1', '3', '5', '2', '4', '6']`

22) Redefine lista as `['1', '2', '3', '4', '5', '6']`. Add a sublist `['7', '8', '9']` to `lista`, so it becomes `['1', '2', '3', '4', '5', '6', ['7','8','9']]`. And then pop the sublist out and assign it to `listc`. Print `lista` and `listc`.

23) Combine `lista` and `listc` and print them in reverse order such that it looks like:

```python
['9', '8', '7', '6', '5', '4', '3', '2', '1']
```

24) Create two sets `seta` and `setb` from `[1, 2, 4, 'a', 'b', 4, 1]` and `[2, 4, 2, 3, 'b', 'c']` and print them.

25) Create a dictionary `course` based on the following list with all duplicates being removed:

```python
[('ISOM3210', 'Information Systems Analysis and Design'),
 ('ISOM3210', 'Information Systems Analysis and Design'),
 ('ISOM3210', 'Information Systems Analysis and Design'),
 ('ISOM3230', 'Business Applications Programming'),
 ('ISOM3260', 'Database Design and Administration'),
 ('ISOM3260', 'Database Design and Administration'),
 ('ISOM3320', 'Internet Applications Development'),
 ('ISOM3320', 'Internet Applications Development'),
 ('ISOM3360', 'Data Mining for Business Analytics'),
 ('ISOM3370', 'Big Data Technologies'),
 ('ISOM3390', 'R for Business Programming'),
 ('ISOM3400', 'Python Programming for Business Analytics')]
```

26) Based on `course`, create a dictionary `prog_course` with all courses whose title contains `'Programming'`. Printing `prog_course` should return:

```python
{'ISOM3230': 'Business Applications Programming',
 'ISOM3390': 'R for Business Programming',
 'ISOM3400': 'Python Programming for Business Analytics'}
```